.landing-background {
    height: 900px;
    background: url('images/stargazer.jpg') no-repeat center center fixed;
    background-size:cover;
    padding-top: 20px;
}

.external-link {
  color: lawngreen;
}
.external-link:hover {
  color: orange;
}
