.landing-background {
    height: 900px;
    background: url('images/stargazer.jpg') no-repeat center center fixed;
    background-size:cover;
    padding-top: 20px;
}

.external-link {
    color: lawngreen;
}
.external-link:hover {
    color: orange;
}

#transcript-table {
 margin-bottom: 20px;
}

.add-padding {
  padding: 25px
}

.list-group-item {
    cursor: pointer;
}

.mb5 {
  margin: 20px;
}

.react-kanban-column {
    font-size: 24px;
    text-align: center;
    padding: 20px;
    outline-style: none;
    outline-color: white;
}

.react-kanban-card {
    font-size: 14px;
    text-align: center;
    padding: 5px;
    margin: 10px;
    outline-style: solid;
    word-wrap: break-word;
    width: 150px;
}

#progress-view {
    display: flex;
    justify-content: center;
    aligntItems: center;
}
